<%- include("./partials/header") %> 

<div class="container-fluid main-container">
  
  <h1 class="title">Prime number discriminator</h1>
  <p class="description">
    Write a number below to determine if it is a prime number.
  </p>
  <p class="description">
    Then press the <span>Result</span> button to check the result.
  </p>
  <input id="input" class="col-4" name="input" autocomplete="off" autofocus>
  <button id="btn" class="col-3 btn btn-info " type="submit">Result</button>

  <div class="row">
    <table class="table col">
      <caption>The 10 most recently referenced numbers</caption>
      <thead>
        <tr>
          <th>Time</th>
          <th>Number</th>
          <th>Outcome</th>
          <th>Factors</th>
        </tr>
      </thead>
      <tbody id="last">
        <% for(let i = 0; i < 10; i++) {  %>
          <tr>
            <td><%= lastList[i].time.slice(11, 16) %></td>
            <td><%= lastList[i].num %></td>
            <td><%= lastList[i].outcome %></td>
            <td><input class="checkbox" type="checkbox" value="<%= lastList[i].num %>"></td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <table class="table col">
      <caption>The 10 most referenced numbers</caption>
      <thead>
        <tr>
          <th>Ranking</th>
          <th>Number</th>
          <th>Outcome</th>
          <th>Count</th>
          <th>Factors</th>
        </tr>
      </thead>
      <tbody id="rank">
        <% for(let i = 0; i < 10; i++) {  %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= rankList[i].num %></td>
            <td><%= rankList[i].outcome %></td>
            <td><%= rankList[i].count %></td>
            <td><input class="checkbox" type="checkbox" value="<%= rankList[i].num %>"></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include("./partials/footer") %> 